/* Global Settings
------------------------ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --color-base: #d10fd1;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
}

a{
    color: #800080;
    text-decoration: none;
}
ul{
    list-style: none;
    
}
/* a:active {
    background: transparent !important;
} */

.section-title h1 {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.section-title h1 span {
    color: #bd6cbd;
}

.section-title p {
    position: relative;
    color: #333;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-family: 'Poppins', sans-serif;
}

/* Header
------------- */
.header {
    position: relative;
    z-index: 999999 !important;
}

.header.active {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: animate 0.4s ease forwards;
    animation: animate 0.4s ease forwards;
}

@-webkit-keyframes animate {
    from {
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes animate {
    from {
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}



/* navbar */
.navbar {
    background: #fff !important;
    border-bottom: 1px solid #ddd;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
}

.nav-content {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-brand {
    padding-left: 5rem;
}

.navbar-brand img {
    height: 4rem;
    width: 10rem;
}

.nav-item .nav-link.active {
    color: #d10fd1 !important;
}

.navbar .nav-item a:hover{
    color: #d10fd1 !important;
}

.main-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-menu ul li {
    padding: 0 0.6rem;
}

.main-menu ul li a {
    color: #4c4855 !important;
    font-size: 1.2rem;
    text-transform: uppercase;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.social_icons{
    display: none;
}

@media screen and (min-width: 800px) {
    .social_icons{
        display: flex;
    }
    .social_icons i {
        font-size: 1rem;
        padding: 20px;
        color: #fff;
    }
    .social_icons a:hover{
        color: #bd6cbd;
    }
    .social_icons a {
        margin-right: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 2rem;
        width: 2rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        background: #d10fd1;
        border-radius: 10px;
    }
}

/* Hero Carousel
--------------------- */
.carousel-item {
    position: relative;
    height: 100vh;
    min-height: 360px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.carousel-item1 {
    background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/newImg1.jpg');
    background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/newImg1.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-item2 {
    background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/slider/2.jpg');
    background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/slider/2.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-item3 {
    background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/slider/3.jpg');
    background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/slider/3.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    width: 800px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}

.carousel-caption h5 {
    font-size: 4rem;
    font-weight: 800;
}

.carousel-caption p {
    display: inline-block;
    margin-top: 1.1rem;
    padding: 1rem 1.8rem;
    background: var(--color-base);
    border-radius: 10px;
}
.carousel-caption p:hover{
    background: #bd6cbd;
}

.carousel-caption p a {
    color: #fff;
    font-size: 1.3rem;
}


/* About 
--------------- */
.about {
    padding: 3rem 0 2rem 0;
    height: auto;
    width: 100%;
}

.about-wrap {
    padding-bottom: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.about-image {
    position: relative;
    width: 45%;
    height: 450px;
}

.about-image::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}

.about-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.2rem;
}

.about-description {
    padding-top: 0.4rem;
    width: 50%;
    color: #333;
}

.about-description h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.about-description h1 {
    color: #bd6cbd;
    margin-top: 1.2rem;
    font-size: 2.6rem;
}

.about-description p {
    margin-top: 1rem;
    font-size: 1rem;
}

.about-description button {
    margin-top: 0.6rem;
    color: #fff;
    font-size: 1.2rem;
    height: 2.6rem;
    width: 8rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: #bd6cbd;
    border-radius: 0.5rem;
}

/* Services
--------------- */
.card {
    position: relative;
    height: 24rem;
    width: calc(90% / 3);
    min-width: 22rem;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 15px gray;
    box-shadow: 4px 4px 15px gray;
    border: none !important;
}

.card::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(35, 35, 35, 0.4);
    pointer-events: none;
    z-index: 99;
}

.card img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.card:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.card .card-text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 999;
}

.card .card-text-content p {
    padding: 0 0.6rem;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px #444;
}

/* .text-center{
    margin-top: -3rem;
} */


/* Projects
------------------- */
.gallery {
    padding-bottom: 2rem;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.wrapper {
    margin: 1.4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gallery .filter-items {
    margin-top: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter-items .filter-content {
    position: relative;
    margin: 0.3rem;
    -ms-flex-preferred-size: calc(90% / 3);
    flex-basis: calc(90% / 3);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 320px;
    height: 300px;
    cursor: pointer;
    border-radius: 0.4rem;
    -webkit-box-shadow: 4px 4px 20px gray;
    box-shadow: 4px 4px 20px gray;
    overflow: hidden;
}

.filter-items .filter-content img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 0.4rem;
}
.filter-content img:hover {
    -webkit-transform: scale(1.9);
    -ms-transform: scale(1.9);
    transform: scale(1.9);
    transition: all 1s ease-in-out;
}

/* Contact
----------------- */
.contact {
    padding: 2rem 0;
    font-family: 'Poppins', sans-serif;
}

.contact-wrap {
    color: #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact-form {
    width: 40%;
    height: auto;
}

.contact-form form {
    width: 100%;
    height: auto;
}

.contact-form form .input-field {
    width: 100%;
    height: 48px;
    margin-bottom: 2rem;
}

.contact-form form .input-field input,
.contact-form form .input-field select {
    padding: 0 1rem;
    color: #444;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
    box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.contact-form .textarea-field {
    height: 220px;
    width: 100%;
}

.textarea-field textarea {
    padding: 1rem;
    font-size: 1.2rem;
    height: 200px;
    width: 100%;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
    box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
}

.button-field {
    margin-top: 0.8rem;
}

.button-field button {
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 1px;
    width: 100%;
    height: 52px;
    background: #bd6cbd;
    border: none;
    border-radius: 10px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}





/* Footer 
--------------- */
.footer {
    padding-top: 3rem;
    background: #0f0d17;
    font-family: 'Poppins', sans-serif;
}

.footer-content {
    padding-bottom: 2rem;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #444;
}


.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.copyright p {
    color: #fff;
    margin: 0;
}

.copyright p a {
    color: #9c5c9c;
}
